<template>
  <v-layout>
    <v-flex xs12>
      <v-form ref="form">
    <v-text-field
      v-model="residency.name"
      label="Nombre"
      required
    ></v-text-field>
        <v-text-field
      v-model="residency.address"
      label="Dirección"
    ></v-text-field>
        <v-text-field
      v-model="residency.phone"
      label="Celular"
    ></v-text-field>
        <v-text-field
      v-model="residency.number"
      label="Numero"
    ></v-text-field>

        <v-text-field
      v-model="residency.description"
      label="Descripcion"
      multi-line
    ></v-text-field>
        <v-text-field
      v-model="residency.image"
      label="Imagen"
    ></v-text-field>

    <v-btn @click="submit">submit</v-btn>
    <v-btn @click="clear">clear</v-btn>
  </v-form>
    </v-flex>
  </v-layout>
</template>

<script>
    export default {
        name: "ResidenciaForm",
      data() {
          return{
            residency: {
              name:'',
              address:'',
              phone:'',
              number:0,
              description:'',
              image:'',
            }
          }
      },
      methods:{
          submit(){
            console.log(this.residency)
          },
          clear(){
            this.$refs.form.reset();
          },
      },
    }
</script>

<style scoped>

</style>
