<template>
      <v-layout row wrap>
    <v-flex xs12 >
      <v-card>
        <v-card-media :src="residencia.image" height="600px">
        </v-card-media>
        <v-card-title primary-title>
          <div>
            <h3 class="headline mb-0">{{residencia.name}}</h3>
            <div>{{residencia.description}}</div>
          </div>
        </v-card-title>
        <v-card-actions>
          <v-btn
            :to="{
              name: 'Edit',
              params:{
                id: residencia.id
              }
            }"
            flat
            color="primary">Editar</v-btn>
        </v-card-actions>
      </v-card>
    </v-flex>
  </v-layout>
</template>

<script>

  import API from '@/lib/API'
    export default {
      name: "ResidenciaView",
      data(){
          return{
            residencia: {}
          }
      },
      mounted(){
        const { id } = this.$route.params;
        this.load( id )
      },
      methods: {
        load(id) {
          API.getResidenciaView(id)
            .then((residencia)=> {
              this.residencia = residencia
            })
          }
        }
      }
</script>

<style scoped>

</style>
