<template>
<section class="content">
<div class="row center-block">
  <div class="col-md-12">
    <div class="box">
      <div class="box-body">
        <div class="dataTables_wrapper form-inline dt-bootstrap" id="Residencias">
          <div class="row">
            <div class="box-body no-padding table-responsive">
              <table aria-describedby="Residency" role="grid" id="Residencias" class="table table-bordered table-striped dataTable">  
                <thead>
                  <tr role="row">
                    <th>Nombre</th>
                    <th>Numero</th>
                    <th>Correo</th>
                    <th>Imagen</th>
                    <th>Estado</th>
                    <th>Accion</th>
                  </tr>
                </thead>
                <tbody>
                    <tr v-for="Residencias of Residency">
                        <th>{{Residencias.name}}</th>
                        <th>{{Residencias.number}}</th>
                        <th>{{Residencias.mail}}</th>
                        <img v-bind:src="Residencias.image" width="70" height="50"/>
                        <th>{{Residencias.state}}</th>
                        <button class="btn btn-danger" @click="deleteResidency(Residency)"> X</button>
                        <button class="btn btn-success">EDIT</button>
                        <p>{{Residencias.body}}</p>
                    </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
</section>
</template>

<script>
import axios from 'axios'
const API_URL = 'http://127.0.0.1:8000';
export default {
  data() {
    return {
      Residency: [],
      errors: []
    }
  },

  // Fetches posts when the component is created.
  created() {
    axios.get('http://127.0.0.1:8000/api/configuration/residency/')
    .then(response => {
      // JSON responses are automatically parsed.
      this.Residency= response.data
    })
    .catch(e => {
      this.errors.push(e)
    })

    // async / await version (created() becomes async created())
    //
    // try {
    //   const response = await axios.get(`http://jsonplaceholder.typicode.com/posts`)
    //   this.posts = response.data
    // } catch (e) {
    //   this.errors.push(e)
    // }
  }

}
</script>

<style>
</style>
